*
{
    margin: 0;
    padding: 0;
}
body{
    background-image: url();
}
h2 a{
    color: orange;
}
a:hover{
    color: red;
}
h2{
    text-align: center;
    text-decoration: underline;
}
table,tr,td{
    border: 2px solid whitesmoke;
    color: white;
    border-collapse: collapse;
    padding: 30px;
    width: 600px;
    margin-left: 32%;
    
}
.n1{
    background-color: rgba(32, 135, 133);
    padding: 15px;
   
    
}
.n2{
    background-color: brown;
    padding: 15px;
    
    

}
.n3{
    background-color: aqua;
    padding: 15px;
}
.n4{
    background-color: blue;
    padding: 15px;
}
.n5{
    background-color: rgb(3, 46, 3) ;
    padding: 15px;
}
.n6{
    background-color: rgb(68, 22, 31);
    padding: 15px;
}
.n7{
    background-color: rgb(238, 181, 24);
    padding: 15px;
}
.n8{
    background-color: blue;
    padding: 15px;
}
.n9{
    background-color: rgb(202, 120, 223);
    padding: 15px;
}